@model IEnumerable<ExemploSCM.Models.Mercadoria>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Mercadorias";
    Layout = "_Layout";
}


<a type="button" class="btn btn-success mb-3" asp-controller="Mercadoria" asp-action="Cadastrar">
    <i class="fa fa-plus-square"></i>  Cadastrar
</a>
<partial name="~/Views/Mercadoria/_Listar.cshtml" />
