@model IEnumerable<ExemploSCM.Models.Mercadoria>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Mercadorias";
    Layout = "_Layout";
}


<a type="button" class="btn btn-primary" href="@Url.Action("Cadastrar", "Mercadoria")">
    <i class="fa fa-plus-square"></i>  Cadastrar
</a>
<partial name="~/Views/Mercadoria/_Listar.cshtml" />
